In [0]:
pip install pomegranate

Collecting pomegranate
  Downloading https://files.pythonhosted.org/packages/aa/88/d1040259ed7c30f1f653052e9d58bf8db0a8e0903e31a6d24a6ccc1b02b0/pomegranate-0.12.2.tar.gz (3.3MB)
     |████████████████████████████████| 3.3MB 4.8MB/s
Requirement already satisfied: numpy>=1.8.0 in /usr/local/lib/python3.6/dist-packages (from pomegranate) (1.18.3)
Requirement already satisfied: joblib>=0.9.0b4 in /usr/local/lib/python3.6/dist-packages (from pomegranate) (0.14.1)
Requirement already satisfied: networkx>=2.0 in /usr/local/lib/python3.6/dist-packages (from pomegranate) (2.4)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from pomegranate) (1.4.1)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from pomegranate) (3.13)
Requirement already satisfied: decorator>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from networkx>=2.0->pomegranate) (4.4.2)
Building wheels for collected packages: pomegranate
  Building wheel for pomegranate (setup.py) ... done
  Created wheel for pomegranate: filename=pomegranate-0.12.2-cp36-cp36m-linux_x86_64.whl size=10965195 sha256=5a9eda34fe81e1b85b11c1682c02f28a940f11574bffe3a20e62ca963d905851
  Stored in directory: /root/.cache/pip/wheels/51/14/41/7285a60a08951abde03ce60f47a8644dd96d8e22b373bbbcc8
Successfully built pomegranate
Installing collected packages: pomegranate
Successfully installed pomegranate-0.12.2

In [0]:
pip install ipython-autotime

Collecting ipython-autotime
  Downloading https://files.pythonhosted.org/packages/e6/f9/0626bbdb322e3a078d968e87e3b01341e7890544de891d0cb613641220e6/ipython-autotime-0.1.tar.bz2
Building wheels for collected packages: ipython-autotime
  Building wheel for ipython-autotime (setup.py) ... done
  Created wheel for ipython-autotime: filename=ipython_autotime-0.1-cp36-none-any.whl size=1832 sha256=012ddfadc122d30cf1fcd3551e9991a08182b1b1f198efad03958edd163fa64b
  Stored in directory: /root/.cache/pip/wheels/d2/df/81/2db1e54bc91002cec40334629bc39cfa86dff540b304ebcd6e
Successfully built ipython-autotime
Installing collected packages: ipython-autotime
Successfully installed ipython-autotime-0.1

In [0]:
%load_ext autotime

In [0]:
import time
import numpy as np
import pandas as pd
from pomegranate import *
import matplotlib.pyplot as plt
import random

time: 4.05 s

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
time: 1.91 ms

In [0]:
dataset = pd.read_csv("/content/drive/My Drive/DAMIN/drug_consumption - Copy.csv")
dataset

        ID      Age   Gender  Education  ...  Mushrooms  Nicotine  Semer  VSA
0        1  0.49788  0.48246   -0.05921  ...        CL0       CL2    CL0  CL0
1        2 -0.07854 -0.48246    1.98437  ...        CL0       CL4    CL0  CL0
2        3  0.49788 -0.48246   -0.05921  ...        CL1       CL0    CL0  CL0
3        4 -0.95197  0.48246    1.16365  ...        CL0       CL2    CL0  CL0
4        5  0.49788  0.48246    1.98437  ...        CL2       CL2    CL0  CL0
...    ...      ...      ...        ...  ...        ...       ...    ...  ...
1880  1884 -0.95197  0.48246   -0.61113  ...        CL0       CL0    CL0  CL5
1881  1885 -0.95197 -0.48246   -0.61113  ...        CL4       CL5    CL0  CL0
1882  1886 -0.07854  0.48246    0.45468  ...        CL2       CL6    CL0  CL0
1883  1887 -0.95197  0.48246   -0.61113  ...        CL3       CL4    CL0  CL0
1884  1888 -0.95197 -0.48246   -0.61113  ...        CL3       CL6    CL0  CL2

[1885 rows x 32 columns]

time: 109 ms

In [0]:
#Hanya gunakan non categorical values
df = dataset[['Age', 'Nscore', 'Escore', 'Oscore', 'Ascore', 'Cscore', 'Impulsive', 'SS']]
df

          Age   Nscore   Escore   Oscore   Ascore   Cscore  Impulsive       SS
0     0.49788  0.31287 -0.57545 -0.58331 -0.91699 -0.00665   -0.21712 -1.18084
1    -0.07854 -0.67825  1.93886  1.43533  0.76096 -0.14277   -0.71126 -0.21575
2     0.49788 -0.46725  0.80523 -0.84732 -1.62090 -1.01450   -1.37983  0.40148
3    -0.95197 -0.14882 -0.80615 -0.01928  0.59042  0.58489   -1.37983 -1.18084
4     0.49788  0.73545 -1.63340 -0.45174 -0.30172  1.30612   -0.21712 -0.21575
...       ...      ...      ...      ...      ...      ...        ...      ...
1880 -0.95197 -1.19430  1.74091  1.88511  0.76096 -1.13788    0.88113  1.92173
1881 -0.95197 -0.24649  1.74091  0.58331  0.76096 -1.51840    0.88113  0.76540
1882 -0.07854  1.13281 -1.37639 -1.27553 -1.77200 -1.38502    0.52975 -0.52593
1883 -0.95197  0.91093 -1.92173  0.29338 -1.62090 -2.57309    1.29221  1.22470
1884 -0.95197 -0.46725  2.12700  1.65653  1.11406  0.41594    0.88113  1.22470

[1885 rows x 8 columns]

time: 27 ms

In [0]:
X = df.values
df

          Age   Nscore   Escore   Oscore   Ascore   Cscore  Impulsive       SS
0     0.49788  0.31287 -0.57545 -0.58331 -0.91699 -0.00665   -0.21712 -1.18084
1    -0.07854 -0.67825  1.93886  1.43533  0.76096 -0.14277   -0.71126 -0.21575
2     0.49788 -0.46725  0.80523 -0.84732 -1.62090 -1.01450   -1.37983  0.40148
3    -0.95197 -0.14882 -0.80615 -0.01928  0.59042  0.58489   -1.37983 -1.18084
4     0.49788  0.73545 -1.63340 -0.45174 -0.30172  1.30612   -0.21712 -0.21575
...       ...      ...      ...      ...      ...      ...        ...      ...
1880 -0.95197 -1.19430  1.74091  1.88511  0.76096 -1.13788    0.88113  1.92173
1881 -0.95197 -0.24649  1.74091  0.58331  0.76096 -1.51840    0.88113  0.76540
1882 -0.07854  1.13281 -1.37639 -1.27553 -1.77200 -1.38502    0.52975 -0.52593
1883 -0.95197  0.91093 -1.92173  0.29338 -1.62090 -2.57309    1.29221  1.22470
1884 -0.95197 -0.46725  2.12700  1.65653  1.11406  0.41594    0.88113  1.22470

[1885 rows x 8 columns]

time: 29.4 ms

In [0]:
X.shape

(1885, 8)

time: 2.31 ms

#KNN

In [0]:
#membuat NaN values ke dataset
random.seed(0)
np.random.seed(0)
np.set_printoptions(suppress=True)

idxs = numpy.random.choice(1885, replace=False, size=50)
j =  np.random.choice(range(4,8),50)
X_nan = X.copy()
print(idxs)
print(j)

[ 220  506 1758 1678   76   27  773 1223  384 1769   85 1476 1222 1520
  539  289 1533  708  459 1444 1771  574  107 1727  521  578   18 1110
  582 1258  744 1497 1364   80 1055  440 1642 1635 1232 1881 1440 1093
  745 1449 1814  776 1547  473 1051   53]
[4 5 7 7 7 5 6 7 5 4 4 7 6 4 5 5 4 7 7 4 5 6 5 6 6 4 7 6 5 7 7 5 4 7 6 5 6
 5 5 7 5 7 5 7 7 4 7 7 7 4]
time: 4.79 ms

In [0]:
X_nan[idxs, j] = np.nan
X_nan[220][4]

nan

time: 3.38 ms

In [0]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=20)
df_filled = imputer.fit_transform(X_nan)
df_filled

array([[ 0.49788,  0.31287, -0.57545, ..., -0.00665, -0.21712, -1.18084],
       [-0.07854, -0.67825,  1.93886, ..., -0.14277, -0.71126, -0.21575],
       [ 0.49788, -0.46725,  0.80523, ..., -1.0145 , -1.37983,  0.40148],
       ...,
       [-0.07854,  1.13281, -1.37639, ..., -1.38502,  0.52975, -0.52593],
       [-0.95197,  0.91093, -1.92173, ..., -2.57309,  1.29221,  1.2247 ],
       [-0.95197, -0.46725,  2.127  , ...,  0.41594,  0.88113,  1.2247 ]])

time: 106 ms

In [0]:
#check error
import sklearn.metrics as metrics

mae = metrics.mean_absolute_error(X, df_filled)
mse = metrics.mean_squared_error(X, df_filled)
rmse = np.sqrt(mse) # or mse**(0.5)

print("Results of sklearn.metrics:")
print("MAE:",mae)
print("MSE:", mse)
print("RMSE:", rmse)

Results of sklearn.metrics:
MAE: 0.0016458772877984084
MSE: 0.0014636197483123177
RMSE: 0.03825728359818974
time: 6.86 ms

#Bayesian

In [0]:
#membuat NaN values ke dataset
random.seed(0)
np.random.seed(0)
np.set_printoptions(suppress=True)

idxs = numpy.random.choice(1885, replace=False, size=50)
j =  np.random.choice(range(4,8),50)
X_nan = X.copy()
print(idxs)
print(j)
X_nan[idxs, j] = numpy.nan

[ 220  506 1758 1678   76   27  773 1223  384 1769   85 1476 1222 1520
  539  289 1533  708  459 1444 1771  574  107 1727  521  578   18 1110
  582 1258  744 1497 1364   80 1055  440 1642 1635 1232 1881 1440 1093
  745 1449 1814  776 1547  473 1051   53]
[4 5 7 7 7 5 6 7 5 4 4 7 6 4 5 5 4 7 7 4 5 6 5 6 6 4 7 6 5 7 7 5 4 7 6 5 6
 5 5 7 5 7 5 7 7 4 7 7 7 4]
time: 6.02 ms

In [0]:
X_nan.shape

(1885, 8)

time: 2.35 ms

In [0]:
model1 = BayesianNetwork.from_samples(X_nan, max_parents=5)

time: 29.7 s

In [0]:
model1.predict_proba({})

array([{
    "class" :"Distribution",
    "dtype" :"numpy.float64",
    "name" :"DiscreteDistribution",
    "parameters" :[
        {
            "0.49788000000000004" :0.18885941644562335,
            "-0.07854" :0.25517241379310335,
            "-0.9519700000000001" :0.3411140583554375,
            "2.59171" :0.009549071618037346,
            "1.09449" :0.15596816976127323,
            "1.82213" :0.049336870026525356
        }
    ],
    "frozen" :false
},
       {
    "class" :"Distribution",
    "dtype" :"numpy.float64",
    "name" :"DiscreteDistribution",
    "parameters" :[
        {
            "0.31287" :0.035013262599469325,
            "-0.67825" :0.03183023872679032,
            "-0.46725" :0.04615384615384586,
            "-0.14882" :0.04031830238726768,
            "0.73545" :0.02599469496021213,
            "-1.32828" :0.018567639257294443,
            "0.62967" :0.040848806366047506,
            "-0.24649000000000001" :0.036074270557029,
            "-1.05308" :0.03023872679045081,
            "2.28554" :0.00530503978779857,
            "-0.79151" :0.037135278514588664,
            "-0.92104" :0.03448275862068949,
            "-2.05048" :0.00848806366047758,
            "-1.5507799999999998" :0.01379310344827593,
            "0.52135" :0.032360742705570156,
            "1.37297" :0.02122015915119362,
            "-0.34799" :0.04137931034482734,
            "-1.1943" :0.029708222811670976,
            "0.41667" :0.042440318302387016,
            "1.6038299999999999" :0.014323607427055766,
            "-0.051879999999999996" :0.036604774535808834,
            "0.04257" :0.03872679045092817,
            "1.02119" :0.03554376657824916,
            "0.82562" :0.027055702917771804,
            "0.13606" :0.03554376657824916,
            "1.13281" :0.014323607427055766,
            "-1.43907" :0.015384615384615434,
            "-0.58016" :0.032360742705570156,
            "0.22393000000000002" :0.03342175066312982,
            "-2.21844" :0.00530503978779857,
            "0.9109299999999999" :0.019628647214854113,
            "-2.3436" :0.0021220159151195614,
            "1.8399" :0.010610079575596919,
            "1.49158" :0.01273209549071626,
            "3.27393" :0.0010610079575598917,
            "-1.69163" :0.0164456233421751,
            "1.98437" :0.007957559681697746,
            "2.82196" :0.0026525198938993967,
            "1.23461" :0.02599469496021213,
            "-1.86962" :0.01273209549071626,
            "2.127" :0.005835543766578406,
            "-2.4231700000000003" :0.0015915119363397266,
            "2.4626200000000003" :0.0031830238726792315,
            "1.72012" :0.009018567639257416,
            "2.61139" :0.0015915119363397266,
            "-2.75696" :0.003713527851459066,
            "-2.52197" :0.0021220159151195614,
            "-3.15735" :0.0005305039787800569,
            "-3.4643599999999997" :0.0005305039787800569
        }
    ],
    "frozen" :false
},
       {
    "class" :"Distribution",
    "dtype" :"numpy.float64",
    "name" :"DiscreteDistribution",
    "parameters" :[
        {
            "-0.57545" :0.04721485411140562,
            "1.9388599999999998" :0.011140583554376778,
            "0.80523" :0.048275862068965295,
            "-0.80615" :0.03607427055702907,
            "-1.6334" :0.012201591511936448,
            "-0.30033000000000004" :0.05623342175066282,
            "-1.09207" :0.02758620689655169,
            "2.57309" :0.004774535809018745,
            "0.0033200000000000005" :0.06896551724137889,
            "0.16767" :0.06153846153846119,
            "1.45421" :0.019628647214854154,
            "-1.50796" :0.016976127320954968,
            "-1.23177" :0.029177718832891195,
            "-0.15487" :0.056763925729442666,
            "-1.7625" :0.012201591511936448,
            "0.47617" :0.055702917771883,
            "-0.9477899999999999" :0.04084880636604758,
            "-3.27393" :0.0010610079575598937,
            "0.63779" :0.05464190981432332,
            "-0.43998999999999994" :0.04774535809018545,
            "1.74091" :0.01803713527851464,
            "0.32197" :0.05782493368700233,
            "1.2861" :0.03289124668435005,
            "0.9624799999999999" :0.036604774535808904,
            "1.11406" :0.033952254641909714,
            "-0.69509" :0.03076923076923071,
            "1.58487" :0.01326259946949612,
            "-1.37639" :0.020159151193633987,
            "-1.92173" :0.011140583554376778,
            "3.00537" :0.0005305039787800579,
            "2.127" :0.00795755968169776,
            "2.32338" :0.00530503978779858,
            "-2.21069" :0.002652519893899401,
            "-2.32338" :0.004244031830238909,
            "-2.11437" :0.004774535809018745,
            "-2.72827" :0.003183023872679237,
            "-2.5383" :0.0015915119363397298,
            "-2.44904" :0.0015915119363397298,
            "-2.03972" :0.0021220159151195653,
            "2.8595" :0.0010610079575598937,
            "3.27393" :0.0010610079575598937,
            "-3.00537" :0.0005305039787800579
        }
    ],
    "frozen" :false
},
       {
    "class" :"Distribution",
    "dtype" :"numpy.float64",
    "name" :"DiscreteDistribution",
    "parameters" :[
        {
            "-0.58331" :0.046153846153846004,
            "1.43533" :0.033421750663129926,
            "-0.8473200000000001" :0.0360742705570291,
            "-0.019280000000000002" :0.07108753315649831,
            "-0.45174" :0.04562334217506616,
            "-1.55521" :0.013793103448275973,
            "-0.97631" :0.031830238726790416,
            "-1.42424" :0.020689655172413845,
            "-1.1190200000000001" :0.033952254641909756,
            "0.14143" :0.056763925729442735,
            "0.44585" :0.0519893899204242,
            "-1.68062" :0.013262599469496136,
            "-0.31776" :0.05358090185676371,
            "-0.17779" :0.054641909814323375,
            "-2.39883" :0.0058355437665784235,
            "0.7233" :0.046153846153846004,
            "-1.2755299999999998" :0.027055702917771884,
            "1.24033" :0.030238726790450903,
            "-3.27393" :0.001061007957559895,
            "-0.71727" :0.0403183023872678,
            "0.8830899999999999" :0.046153846153846004,
            "0.29338000000000003" :0.06153846153846126,
            "-2.63199" :0.002122015915119568,
            "1.0623799999999999" :0.04297082228116698,
            "-1.97495" :0.0068965517241380975,
            "-1.82919" :0.012201591511936463,
            "-2.8595" :0.002122015915119568,
            "-2.09015" :0.00477453580901875,
            "0.58331" :0.04403183023872666,
            "2.1532400000000003" :0.010079575596817115,
            "-2.21069" :0.00477453580901875,
            "1.6565299999999998" :0.020159151193634012,
            "1.8851099999999998" :0.018037135278514665,
            "2.90161" :0.0037135278514590776,
            "2.44904" :0.0068965517241380975
        }
    ],
    "frozen" :false
},
       {
    "class" :"Distribution",
    "dtype" :"numpy.float64",
    "name" :"DiscreteDistribution",
    "parameters" :[
        {
            "-0.91699" :0.044266666666666496,
            "0.7609600000000001" :0.055466666666666394,
            "-1.6209" :0.01600000000000008,
            "0.59042" :0.05279999999999976,
            "-0.30172" :0.06079999999999969,
            "2.03972" :0.008000000000000151,
            "-0.7609600000000001" :0.04373333333333317,
            "-1.92595" :0.009600000000000136,
            "0.9415600000000001" :0.04533333333333316,
            "-0.60633" :0.05386666666666641,
            "-1.07533" :0.0330666666666666,
            "0.28783000000000003" :0.059199999999999704,
            "-0.45321000000000006" :0.052266666666666434,
            "1.6110799999999998" :0.01920000000000005,
            "1.11406" :0.03626666666666657,
            "-0.01729" :0.05493333333333308,
            "-1.47955" :0.018133333333333397,
            "0.43851999999999997" :0.05279999999999976,
            "1.2861" :0.03093333333333328,
            "-2.90161" :0.0005333333333335506,
            "0.13136" :0.06133333333333301,
            "-2.07848" :0.0069333333333334935,
            "1.81866" :0.01920000000000005,
            "-0.15487" :0.05386666666666641,
            "-1.21213" :0.02400000000000001,
            "-1.34289" :0.022400000000000024,
            "1.45039" :0.02080000000000004,
            "-1.7719999999999998" :0.01280000000000011,
            "2.4626200000000003" :0.004266666666666851,
            "2.23427" :0.007466666666666823,
            "-2.35413" :0.0037333333333335224,
            "-2.70172" :0.0005333333333335506,
            "-2.21844" :0.004266666666666851,
            "2.75696" :0.0037333333333335224,
            "-2.5383" :0.0037333333333335224,
            "3.15735" :0.0005333333333335506,
            "-2.78793" :0.0010666666666668794,
            "-3.00537" :0.0005333333333335506,
            "-3.4643599999999997" :0.0005333333333335506,
            "-3.15735" :0.0005333333333335506,
            "3.4643599999999997" :0.0005333333333335506
        }
    ],
    "frozen" :false
},
       {
    "class" :"Distribution",
    "dtype" :"numpy.float64",
    "name" :"DiscreteDistribution",
    "parameters" :[
        {
            "-0.00665" :0.05451630144307828,
            "-0.14277" :0.05291288081239951,
            "-1.0145" :0.028861571352218018,
            "0.5848899999999999" :0.058792089791554994,
            "1.3061200000000002" :0.025120256547300896,
            "1.6308799999999999" :0.01817210048102624,
            "0.9394899999999999" :0.05077498663816116,
            "1.1340700000000001" :0.04008551576696938,
            "0.12330999999999999" :0.04756814537680362,
            "1.81175" :0.014965259219668708,
            "-0.52745" :0.04115446285408856,
            "-0.78155" :0.036878674505611844,
            "3.4643599999999997" :0.0005344735435598108,
            "0.7583" :0.05077498663816116,
            "-1.3850200000000001" :0.021913415285943365,
            "-1.5184" :0.015499732763228297,
            "-1.13788" :0.026189203634420073,
            "-0.89891" :0.029396044895777608,
            "1.46191" :0.022982362373062542,
            "-0.65253" :0.043292357028326914,
            "0.41594" :0.058792089791554994,
            "-0.40581" :0.04543025120256527,
            "0.25953000000000004" :0.059326563335114574,
            "-1.92173" :0.006948156066274877,
            "-0.27607" :0.05184393372528033,
            "-2.18109" :0.004275788348476932,
            "-1.6410099999999999" :0.012827365045430354,
            "2.04506" :0.01443078567610912,
            "2.33337" :0.006948156066274877,
            "-1.25773" :0.020844468198824188,
            "2.63199" :0.004275788348476932,
            "-2.90161" :0.0016034206306789886,
            "-1.7816900000000002" :0.012827365045430354,
            "-2.04506" :0.006948156066274877,
            "-2.57309" :0.002672367717798166,
            "-2.30408" :0.0032068412613577547,
            "-2.4231700000000003" :0.002672367717798166,
            "-3.15735" :0.0005344735435598108,
            "-3.4643599999999997" :0.0005344735435598108,
            "-2.72827" :0.0010689470871193996,
            "3.00537" :0.0016034206306789886
        }
    ],
    "frozen" :false
},
       {
    "class" :"Distribution",
    "dtype" :"numpy.float64",
    "name" :"DiscreteDistribution",
    "parameters" :[
        {
            "-0.21711999999999998" :0.1870005327650503,
            "-0.71126" :0.16302610548747978,
            "-1.37983" :0.14704315396909948,
            "0.19268" :0.13692061800745856,
            "0.52975" :0.11401172083111343,
            "1.29221" :0.07831646244006404,
            "1.8620299999999999" :0.05540756526371889,
            "-2.55524" :0.010655301012253995,
            "0.88113" :0.10388918486947256,
            "2.90161" :0.003729355354289188
        }
    ],
    "frozen" :false
},
       {
    "class" :"Distribution",
    "dtype" :"numpy.float64",
    "name" :"DiscreteDistribution",
    "parameters" :[
        {
            "-0.8463700000000001" :0.0898531508179018,
            "-0.52593" :0.11240675786488112,
            "-0.21575" :0.11673899113572245,
            "0.07987000000000001" :0.11562451032686517,
            "0.40148" :0.13293785854961632,
            "0.7654" :0.11193137334382788,
            "1.2247" :0.11248173186601687,
            "1.92173" :0.05437722758026295,
            "-1.5485799999999998" :0.046179657444766896,
            "-2.07848" :0.037000030203051655,
            "-1.18084" :0.0704687108670869
        }
    ],
    "frozen" :false
}], dtype=object)

time: 16.4 ms

In [0]:
y_pred1 = model1.predict(X_nan)

time: 7.66 s

In [0]:
#check error
import sklearn.metrics as metrics

mae = metrics.mean_absolute_error(X, np.array(y_pred1))
mse = metrics.mean_squared_error(X, np.array(y_pred1))
rmse = np.sqrt(mse) # or mse**(0.5)

print("Results of sklearn.metrics:")
print("MAE:",mae)
print("MSE:", mse)
print("RMSE:", rmse)

Results of sklearn.metrics:
MAE: 0.002153342838196286
MSE: 0.0026644241845424407
RMSE: 0.05161806064298077
time: 7.96 ms

#Deterministic Regression

In [0]:
df2 = dataset[['Age', 'Nscore', 'Escore', 'Oscore', 'Ascore', 'Cscore', 'Impulsive', 'SS']]
# df2 = pd.get_dummies(df2, columns=['Alcohol'])
X2 = df2.values
df2

          Age   Nscore   Escore   Oscore   Ascore   Cscore  Impulsive       SS
0     0.49788  0.31287 -0.57545 -0.58331 -0.91699 -0.00665   -0.21712 -1.18084
1    -0.07854 -0.67825  1.93886  1.43533  0.76096 -0.14277   -0.71126 -0.21575
2     0.49788 -0.46725  0.80523 -0.84732 -1.62090 -1.01450   -1.37983  0.40148
3    -0.95197 -0.14882 -0.80615 -0.01928  0.59042  0.58489   -1.37983 -1.18084
4     0.49788  0.73545 -1.63340 -0.45174 -0.30172  1.30612   -0.21712 -0.21575
...       ...      ...      ...      ...      ...      ...        ...      ...
1880 -0.95197 -1.19430  1.74091  1.88511  0.76096 -1.13788    0.88113  1.92173
1881 -0.95197 -0.24649  1.74091  0.58331  0.76096 -1.51840    0.88113  0.76540
1882 -0.07854  1.13281 -1.37639 -1.27553 -1.77200 -1.38502    0.52975 -0.52593
1883 -0.95197  0.91093 -1.92173  0.29338 -1.62090 -2.57309    1.29221  1.22470
1884 -0.95197 -0.46725  2.12700  1.65653  1.11406  0.41594    0.88113  1.22470

[1885 rows x 8 columns]

time: 29.2 ms

In [0]:
#membuat NaN values ke dataset
random.seed(0)
np.random.seed(0)
np.set_printoptions(suppress=True)

idxs = np.random.choice(1885, replace=False, size=50)
j =  np.random.choice(range(4,8),50)
X_nan = X2.copy()
print(idxs)
print(j)
X_nan[idxs, j] = numpy.nan
df_nan = pd.DataFrame(X_nan, columns=['Age', 'Nscore', 'Escore', 'Oscore', 'Ascore', 'Cscore', 'Impulsive', 'SS'])
df_nan

[ 220  506 1758 1678   76   27  773 1223  384 1769   85 1476 1222 1520
  539  289 1533  708  459 1444 1771  574  107 1727  521  578   18 1110
  582 1258  744 1497 1364   80 1055  440 1642 1635 1232 1881 1440 1093
  745 1449 1814  776 1547  473 1051   53]
[4 5 7 7 7 5 6 7 5 4 4 7 6 4 5 5 4 7 7 4 5 6 5 6 6 4 7 6 5 7 7 5 4 7 6 5 6
 5 5 7 5 7 5 7 7 4 7 7 7 4]

          Age   Nscore   Escore   Oscore   Ascore   Cscore  Impulsive       SS
0     0.49788  0.31287 -0.57545 -0.58331 -0.91699 -0.00665   -0.21712 -1.18084
1    -0.07854 -0.67825  1.93886  1.43533  0.76096 -0.14277   -0.71126 -0.21575
2     0.49788 -0.46725  0.80523 -0.84732 -1.62090 -1.01450   -1.37983  0.40148
3    -0.95197 -0.14882 -0.80615 -0.01928  0.59042  0.58489   -1.37983 -1.18084
4     0.49788  0.73545 -1.63340 -0.45174 -0.30172  1.30612   -0.21712 -0.21575
...       ...      ...      ...      ...      ...      ...        ...      ...
1880 -0.95197 -1.19430  1.74091  1.88511  0.76096 -1.13788    0.88113  1.92173
1881 -0.95197 -0.24649  1.74091  0.58331  0.76096 -1.51840    0.88113      NaN
1882 -0.07854  1.13281 -1.37639 -1.27553 -1.77200 -1.38502    0.52975 -0.52593
1883 -0.95197  0.91093 -1.92173  0.29338 -1.62090 -2.57309    1.29221  1.22470
1884 -0.95197 -0.46725  2.12700  1.65653  1.11406  0.41594    0.88113  1.22470

[1885 rows x 8 columns]

time: 32.1 ms

In [0]:
df_nan.isna().sum()

Age           0
Nscore        0
Escore        0
Oscore        0
Ascore       10
Cscore       14
Impulsive     8
SS           18
dtype: int64

time: 5.27 ms

In [0]:
set(df_nan.columns)

{'Age', 'Ascore', 'Cscore', 'Escore', 'Impulsive', 'Nscore', 'Oscore', 'SS'}

time: 2.78 ms

In [0]:
missing_columns = ['Ascore', 'Cscore', 'Impulsive', 'SS']
deter_data = pd.DataFrame(columns = ["Det" + name for name in missing_columns])
from sklearn.linear_model import LinearRegression
for feature in missing_columns:
  # print(feature)
  deter_data["Det" + feature] = df_nan[feature]
  parameters = list(set(df_nan.columns) - set(missing_columns) - {feature})
  print(parameters)
  # #Create a Linear Regression model to estimate the missing data
  model = LinearRegression()
  model.fit(X = df2[parameters], y = df2[feature])

  #observe that I preserve the index of the missing data from the original dataframe
  deter_data.loc[df_nan[feature].isna(), "Det" + feature] = model.predict(df_nan[parameters])[df_nan[feature].isna()]

['Escore', 'Age', 'Oscore', 'Nscore']
['Escore', 'Age', 'Oscore', 'Nscore']
['Escore', 'Age', 'Oscore', 'Nscore']
['Escore', 'Age', 'Oscore', 'Nscore']
time: 47.7 ms

In [0]:
deter_data

      DetAscore  DetCscore  DetImpulsive    DetSS
0      -0.91699   -0.00665      -0.21712 -1.18084
1       0.76096   -0.14277      -0.71126 -0.21575
2      -1.62090   -1.01450      -1.37983  0.40148
3       0.59042    0.58489      -1.37983 -1.18084
4      -0.30172    1.30612      -0.21712 -0.21575
...         ...        ...           ...      ...
1880    0.76096   -1.13788       0.88113  1.92173
1881    0.76096   -1.51840       0.88113  0.70017
1882   -1.77200   -1.38502       0.52975 -0.52593
1883   -1.62090   -2.57309       1.29221  1.22470
1884    1.11406    0.41594       0.88113  1.22470

[1885 rows x 4 columns]

time: 17.5 ms

In [0]:
non_missing_columns = ['Age', 'Nscore', 'Escore', 'Oscore', 'Ascore', 'Cscore', 'Impulsive', 'SS']
data_non_nan = pd.DataFrame(columns = ["Det" + name for name in non_missing_columns])

for feature in non_missing_columns:
  data_non_nan["Det" + feature] = df2[feature]

for feature in missing_columns:
  data_non_nan["Det" + feature] = deter_data["Det" + feature]
data_non_nan

       DetAge  DetNscore  DetEscore  ...  DetCscore  DetImpulsive    DetSS
0     0.49788    0.31287   -0.57545  ...   -0.00665      -0.21712 -1.18084
1    -0.07854   -0.67825    1.93886  ...   -0.14277      -0.71126 -0.21575
2     0.49788   -0.46725    0.80523  ...   -1.01450      -1.37983  0.40148
3    -0.95197   -0.14882   -0.80615  ...    0.58489      -1.37983 -1.18084
4     0.49788    0.73545   -1.63340  ...    1.30612      -0.21712 -0.21575
...       ...        ...        ...  ...        ...           ...      ...
1880 -0.95197   -1.19430    1.74091  ...   -1.13788       0.88113  1.92173
1881 -0.95197   -0.24649    1.74091  ...   -1.51840       0.88113  0.70017
1882 -0.07854    1.13281   -1.37639  ...   -1.38502       0.52975 -0.52593
1883 -0.95197    0.91093   -1.92173  ...   -2.57309       1.29221  1.22470
1884 -0.95197   -0.46725    2.12700  ...    0.41594       0.88113  1.22470

[1885 rows x 8 columns]

time: 42 ms

In [0]:
#check error
import sklearn.metrics as metrics

mae = metrics.mean_absolute_error(X, np.array(data_non_nan))
mse = metrics.mean_squared_error(X, np.array(data_non_nan))
rmse = np.sqrt(mse) # or mse**(0.5)

print("Results of sklearn.metrics:")
print("MAE:",mae)
print("MSE:", mse)
print("RMSE:", rmse)

Results of sklearn.metrics:
MAE: 0.0017147880549502653
MSE: 0.0016718871462969177
RMSE: 0.04088871661347318
time: 7.55 ms

#Summary

##Drug Consumtion

###KNN

####Results of sklearn.metrics:
####MAE: 0.0016458772877984084
####MSE: 0.0014636197483123177
####RMSE: 0.03825728359818974

###Bayesian Network

####Results of sklearn.metrics:
####MAE: 0.002153342838196286
####MSE: 0.0026644241845424407
####RMSE: 0.05161806064298077

###Linear Regression

####Results of sklearn.metrics:
####MAE: 0.0017147880549502653
####MSE: 0.0016718871462969177
####RMSE: 0.04088871661347318