In [0]:
pip install pomegranate

Requirement already satisfied: pomegranate in /usr/local/lib/python3.6/dist-packages (0.12.2)
Requirement already satisfied: networkx>=2.0 in /usr/local/lib/python3.6/dist-packages (from pomegranate) (2.4)
Requirement already satisfied: numpy>=1.8.0 in /usr/local/lib/python3.6/dist-packages (from pomegranate) (1.18.3)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from pomegranate) (3.13)
Requirement already satisfied: joblib>=0.9.0b4 in /usr/local/lib/python3.6/dist-packages (from pomegranate) (0.14.1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from pomegranate) (1.4.1)
Requirement already satisfied: decorator>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from networkx>=2.0->pomegranate) (4.4.2)
time: 3.58 s

In [0]:
pip install ipython-autotime

Requirement already satisfied: ipython-autotime in /usr/local/lib/python3.6/dist-packages (0.1)
time: 3.84 s

In [0]:
%load_ext autotime

The autotime extension is already loaded. To reload it, use:
  %reload_ext autotime
time: 2.22 ms

In [0]:
import time
import numpy as np
import pandas as pd
from pomegranate import *
import matplotlib.pyplot as plt
import random

time: 2.23 ms

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive
time: 15.1 s

In [0]:
dataset = pd.read_csv("/content/drive/My Drive/DAMIN/HeartDisease.csv")
dataset

     Age  Sex  CP  Trestbps  ...  Slope  Ca  Thal  Num (predicted attribute)
0     63    1   1       145  ...      3   0     6                          0
1     67    1   4       160  ...      2   3     3                          2
2     67    1   4       120  ...      2   2     7                          1
3     37    1   3       130  ...      3   0     3                          0
4     41    0   2       130  ...      1   0     3                          0
..   ...  ...  ..       ...  ...    ...  ..   ...                        ...
298   45    1   1       110  ...      2   0     7                          1
299   68    1   4       144  ...      2   2     7                          2
300   57    1   4       130  ...      2   1     7                          3
301   57    0   2       130  ...      2   1     3                          1
302   38    1   3       138  ...      1   ?     3                          0

[303 rows x 14 columns]

time: 448 ms

In [0]:
#Hanya gunakan non categorical values
df = dataset[['Age', 'Trestbps', 'Chol', 'Thalach', 'Oldpeak']]
df

     Age  Trestbps  Chol  Thalach  Oldpeak
0     63       145   233      150      2.3
1     67       160   286      108      1.5
2     67       120   229      129      2.6
3     37       130   250      187      3.5
4     41       130   204      172      1.4
..   ...       ...   ...      ...      ...
298   45       110   264      132      1.2
299   68       144   193      141      3.4
300   57       130   131      115      1.2
301   57       130   236      174      0.0
302   38       138   175      173      0.0

[303 rows x 5 columns]

time: 19.2 ms

In [0]:
X = df.values
df

     Age  Trestbps  Chol  Thalach  Oldpeak
0     63       145   233      150      2.3
1     67       160   286      108      1.5
2     67       120   229      129      2.6
3     37       130   250      187      3.5
4     41       130   204      172      1.4
..   ...       ...   ...      ...      ...
298   45       110   264      132      1.2
299   68       144   193      141      3.4
300   57       130   131      115      1.2
301   57       130   236      174      0.0
302   38       138   175      173      0.0

[303 rows x 5 columns]

time: 17.8 ms

In [0]:
df.isna().sum()

Age         0
Trestbps    0
Chol        0
Thalach     0
Oldpeak     0
dtype: int64

time: 4.92 ms

In [0]:
if (df.isna().values.any()):
  df.dropna()

time: 1.9 ms

In [0]:
X.shape

(303, 5)

time: 2.92 ms

#KNN

In [0]:
#membuat NaN values ke dataset
random.seed(0)
np.random.seed(0)
np.set_printoptions(suppress=True)

idxs = numpy.random.choice(303, replace=False, size=5)
j =  np.random.choice(range(2,5),5)
X_nan = X.copy()
print(idxs)
print(j)

[225 152 228 201  52]
[3 4 3 3 3]
time: 4.38 ms

In [0]:
X_nan[idxs, j] = np.nan

time: 962 µs

In [0]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=5)
df_filled = imputer.fit_transform(X_nan)
df_filled

array([[ 63. , 145. , 233. , 150. ,   2.3],
       [ 67. , 160. , 286. , 108. ,   1.5],
       [ 67. , 120. , 229. , 129. ,   2.6],
       ...,
       [ 57. , 130. , 131. , 115. ,   1.2],
       [ 57. , 130. , 236. , 174. ,   0. ],
       [ 38. , 138. , 175. , 173. ,   0. ]])

time: 468 ms

In [0]:
#check error
import sklearn.metrics as metrics

mae = metrics.mean_absolute_error(X, df_filled)
mse = metrics.mean_squared_error(X, df_filled)
rmse = np.sqrt(mse) # or mse**(0.5)

print("Results of sklearn.metrics:")
print("MAE:",mae)
print("MSE:", mse)
print("RMSE:", rmse)

Results of sklearn.metrics:
MAE: 0.05500990099009899
MSE: 1.7407918151815174
RMSE: 1.3193906984595265
time: 5.79 ms

#Bayesian

In [0]:
#membuat NaN values ke dataset
random.seed(0)
np.random.seed(0)
np.set_printoptions(suppress=True)

idxs = numpy.random.choice(303, replace=False, size=5)
j =  np.random.choice(range(2,5),5)
X_nan = X.copy()
print(idxs)
print(j)

X_nan[idxs, j] = numpy.nan
# Xtemp = X_nan[:500]

[225 152 228 201  52]
[3 4 3 3 3]
time: 6.38 ms

In [0]:
X_nan.shape

(303, 5)

time: 2.29 ms

In [0]:
model1 = BayesianNetwork.from_samples(X_nan, max_parents=5)

time: 6.39 s

In [0]:
model1.predict_proba({})

array([{
    "class" :"Distribution",
    "dtype" :"numpy.float64",
    "name" :"DiscreteDistribution",
    "parameters" :[
        {
            "63.0" :0.029702970297029667,
            "67.0" :0.029702970297029667,
            "37.0" :0.006600660066006766,
            "41.0" :0.03300330033003294,
            "56.0" :0.03630363036303621,
            "62.0" :0.03630363036303621,
            "57.0" :0.05610561056105584,
            "53.0" :0.026402640264026396,
            "44.0" :0.03630363036303621,
            "52.0" :0.04290429042904275,
            "48.0" :0.02310231023102312,
            "54.0" :0.05280528052805257,
            "49.0" :0.01650165016501658,
            "64.0" :0.03300330033003294,
            "58.0" :0.06270627062706238,
            "60.0" :0.039603960396039486,
            "50.0" :0.02310231023102312,
            "66.0" :0.02310231023102312,
            "43.0" :0.026402640264026396,
            "40.0" :0.009900990099010036,
            "69.0" :0.009900990099010036,
            "59.0" :0.04620462046204602,
            "42.0" :0.026402640264026396,
            "55.0" :0.026402640264026396,
            "61.0" :0.026402640264026396,
            "65.0" :0.026402640264026396,
            "71.0" :0.009900990099010036,
            "51.0" :0.039603960396039486,
            "46.0" :0.02310231023102312,
            "45.0" :0.026402640264026396,
            "39.0" :0.013201320132013309,
            "68.0" :0.013201320132013309,
            "47.0" :0.01650165016501658,
            "34.0" :0.006600660066006766,
            "35.0" :0.013201320132013309,
            "29.0" :0.003300330033003494,
            "70.0" :0.013201320132013309,
            "77.0" :0.003300330033003494,
            "38.0" :0.006600660066006766,
            "74.0" :0.003300330033003494,
            "76.0" :0.003300330033003494
        }
    ],
    "frozen" :false
},
       {
    "class" :"Distribution",
    "dtype" :"numpy.float64",
    "name" :"DiscreteDistribution",
    "parameters" :[
        {
            "145.0" :0.016501650165016542,
            "160.0" :0.03630363036303613,
            "120.0" :0.12211221122112102,
            "130.0" :0.11881188118811772,
            "140.0" :0.10561056105610468,
            "172.0" :0.003300330033003486,
            "150.0" :0.056105610561055716,
            "110.0" :0.06270627062706224,
            "132.0" :0.02640264026402634,
            "117.0" :0.003300330033003486,
            "135.0" :0.01980198019801981,
            "112.0" :0.0297029702970296,
            "105.0" :0.009900990099010016,
            "124.0" :0.01980198019801981,
            "125.0" :0.03630363036303613,
            "142.0" :0.009900990099010016,
            "128.0" :0.039603960396039396,
            "170.0" :0.013201320132013278,
            "155.0" :0.003300330033003486,
            "104.0" :0.003300330033003486,
            "180.0" :0.009900990099010016,
            "138.0" :0.039603960396039396,
            "108.0" :0.01980198019801981,
            "134.0" :0.016501650165016542,
            "122.0" :0.013201320132013278,
            "115.0" :0.009900990099010016,
            "118.0" :0.02310231023102307,
            "100.0" :0.013201320132013278,
            "200.0" :0.003300330033003486,
            "94.0" :0.00660066006600675,
            "165.0" :0.003300330033003486,
            "102.0" :0.00660066006600675,
            "152.0" :0.016501650165016542,
            "101.0" :0.003300330033003486,
            "126.0" :0.009900990099010016,
            "174.0" :0.003300330033003486,
            "148.0" :0.00660066006600675,
            "178.0" :0.00660066006600675,
            "158.0" :0.003300330033003486,
            "192.0" :0.003300330033003486,
            "129.0" :0.003300330033003486,
            "144.0" :0.00660066006600675,
            "123.0" :0.003300330033003486,
            "136.0" :0.009900990099010016,
            "146.0" :0.00660066006600675,
            "106.0" :0.003300330033003486,
            "156.0" :0.003300330033003486,
            "154.0" :0.003300330033003486,
            "114.0" :0.003300330033003486,
            "164.0" :0.003300330033003486
        }
    ],
    "frozen" :false
},
       {
    "class" :"Distribution",
    "dtype" :"numpy.float64",
    "name" :"DiscreteDistribution",
    "parameters" :[
        {
            "233.0" :0.013201320132012985,
            "286.0" :0.006600660066006603,
            "229.0" :0.009900990099009794,
            "250.0" :0.009900990099009794,
            "204.0" :0.019801980198019365,
            "236.0" :0.009900990099009794,
            "268.0" :0.006600660066006603,
            "354.0" :0.0033003300330034127,
            "254.0" :0.016501650165016174,
            "203.0" :0.009900990099009794,
            "192.0" :0.006600660066006603,
            "294.0" :0.006600660066006603,
            "256.0" :0.009900990099009794,
            "263.0" :0.009900990099009794,
            "199.0" :0.009900990099009794,
            "168.0" :0.0033003300330034127,
            "239.0" :0.013201320132012985,
            "275.0" :0.006600660066006603,
            "266.0" :0.006600660066006603,
            "211.0" :0.013201320132012985,
            "283.0" :0.009900990099009794,
            "284.0" :0.0033003300330034127,
            "224.0" :0.0033003300330034127,
            "206.0" :0.006600660066006603,
            "219.0" :0.009900990099009794,
            "340.0" :0.0033003300330034127,
            "226.0" :0.013201320132012985,
            "247.0" :0.006600660066006603,
            "167.0" :0.0033003300330034127,
            "230.0" :0.009900990099009794,
            "335.0" :0.006600660066006603,
            "234.0" :0.019801980198019365,
            "177.0" :0.013201320132012985,
            "276.0" :0.0033003300330034127,
            "353.0" :0.0033003300330034127,
            "243.0" :0.013201320132012985,
            "225.0" :0.006600660066006603,
            "302.0" :0.006600660066006603,
            "212.0" :0.016501650165016174,
            "330.0" :0.006600660066006603,
            "175.0" :0.006600660066006603,
            "417.0" :0.0033003300330034127,
            "197.0" :0.019801980198019365,
            "198.0" :0.006600660066006603,
            "290.0" :0.0033003300330034127,
            "253.0" :0.006600660066006603,
            "172.0" :0.0033003300330034127,
            "273.0" :0.006600660066006603,
            "213.0" :0.006600660066006603,
            "305.0" :0.006600660066006603,
            "216.0" :0.006600660066006603,
            "304.0" :0.006600660066006603,
            "188.0" :0.006600660066006603,
            "282.0" :0.013201320132012985,
            "185.0" :0.0033003300330034127,
            "232.0" :0.006600660066006603,
            "326.0" :0.0033003300330034127,
            "231.0" :0.009900990099009794,
            "269.0" :0.016501650165016174,
            "267.0" :0.006600660066006603,
            "248.0" :0.006600660066006603,
            "360.0" :0.0033003300330034127,
            "258.0" :0.009900990099009794,
            "308.0" :0.006600660066006603,
            "245.0" :0.009900990099009794,
            "270.0" :0.006600660066006603,
            "208.0" :0.006600660066006603,
            "264.0" :0.006600660066006603,
            "321.0" :0.0033003300330034127,
            "274.0" :0.009900990099009794,
            "325.0" :0.006600660066006603,
            "235.0" :0.006600660066006603,
            "257.0" :0.0033003300330034127,
            "164.0" :0.0033003300330034127,
            "141.0" :0.0033003300330034127,
            "252.0" :0.0033003300330034127,
            "255.0" :0.006600660066006603,
            "201.0" :0.009900990099009794,
            "222.0" :0.006600660066006603,
            "260.0" :0.006600660066006603,
            "182.0" :0.0033003300330034127,
            "303.0" :0.009900990099009794,
            "265.0" :0.006600660066006603,
            "309.0" :0.009900990099009794,
            "307.0" :0.0033003300330034127,
            "249.0" :0.009900990099009794,
            "186.0" :0.0033003300330034127,
            "341.0" :0.0033003300330034127,
            "183.0" :0.0033003300330034127,
            "407.0" :0.0033003300330034127,
            "217.0" :0.0033003300330034127,
            "288.0" :0.009900990099009794,
            "220.0" :0.009900990099009794,
            "209.0" :0.006600660066006603,
            "227.0" :0.006600660066006603,
            "261.0" :0.006600660066006603,
            "174.0" :0.0033003300330034127,
            "281.0" :0.0033003300330034127,
            "221.0" :0.006600660066006603,
            "205.0" :0.006600660066006603,
            "240.0" :0.013201320132012985,
            "289.0" :0.006600660066006603,
            "318.0" :0.006600660066006603,
            "298.0" :0.006600660066006603,
            "564.0" :0.0033003300330034127,
            "246.0" :0.009900990099009794,
            "322.0" :0.0033003300330034127,
            "299.0" :0.006600660066006603,
            "300.0" :0.0033003300330034127,
            "293.0" :0.0033003300330034127,
            "277.0" :0.006600660066006603,
            "214.0" :0.006600660066006603,
            "207.0" :0.006600660066006603,
            "223.0" :0.009900990099009794,
            "160.0" :0.0033003300330034127,
            "394.0" :0.0033003300330034127,
            "184.0" :0.0033003300330034127,
            "315.0" :0.006600660066006603,
            "409.0" :0.0033003300330034127,
            "244.0" :0.009900990099009794,
            "195.0" :0.0033003300330034127,
            "196.0" :0.006600660066006603,
            "126.0" :0.0033003300330034127,
            "313.0" :0.0033003300330034127,
            "259.0" :0.0033003300330034127,
            "200.0" :0.0033003300330034127,
            "262.0" :0.0033003300330034127,
            "215.0" :0.0033003300330034127,
            "228.0" :0.006600660066006603,
            "193.0" :0.006600660066006603,
            "271.0" :0.006600660066006603,
            "210.0" :0.0033003300330034127,
            "327.0" :0.0033003300330034127,
            "149.0" :0.006600660066006603,
            "295.0" :0.006600660066006603,
            "306.0" :0.0033003300330034127,
            "178.0" :0.0033003300330034127,
            "237.0" :0.0033003300330034127,
            "218.0" :0.006600660066006603,
            "242.0" :0.0033003300330034127,
            "319.0" :0.0033003300330034127,
            "166.0" :0.0033003300330034127,
            "180.0" :0.0033003300330034127,
            "311.0" :0.0033003300330034127,
            "278.0" :0.0033003300330034127,
            "342.0" :0.0033003300330034127,
            "169.0" :0.0033003300330034127,
            "187.0" :0.0033003300330034127,
            "157.0" :0.0033003300330034127,
            "176.0" :0.0033003300330034127,
            "241.0" :0.0033003300330034127,
            "131.0" :0.0033003300330034127
        }
    ],
    "frozen" :false
},
       {
    "class" :"Distribution",
    "dtype" :"numpy.float64",
    "name" :"DiscreteDistribution",
    "parameters" :[
        {
            "150.0" :0.023411371237457925,
            "108.0" :0.0033444816053513227,
            "129.0" :0.0033444816053513227,
            "187.0" :0.0033444816053513227,
            "172.0" :0.023411371237457925,
            "178.0" :0.016722408026755724,
            "160.0" :0.03010033444816013,
            "163.0" :0.03010033444816013,
            "147.0" :0.016722408026755724,
            "155.0" :0.013377926421404625,
            "148.0" :0.010033444816053524,
            "153.0" :0.006688963210702423,
            "142.0" :0.020066889632106826,
            "173.0" :0.023411371237457925,
            "162.0" :0.03678929765886233,
            "174.0" :0.016722408026755724,
            "168.0" :0.016722408026755724,
            "139.0" :0.006688963210702423,
            "171.0" :0.013377926421404625,
            "144.0" :0.023411371237457925,
            "132.0" :0.023411371237457925,
            "158.0" :0.020066889632106826,
            "114.0" :0.010033444816053524,
            "151.0" :0.013377926421404625,
            "161.0" :0.020066889632106826,
            "179.0" :0.016722408026755724,
            "120.0" :0.010033444816053524,
            "112.0" :0.006688963210702423,
            "137.0" :0.0033444816053513227,
            "157.0" :0.016722408026755724,
            "169.0" :0.020066889632106826,
            "165.0" :0.016722408026755724,
            "123.0" :0.006688963210702423,
            "128.0" :0.0033444816053513227,
            "152.0" :0.026755852842809028,
            "140.0" :0.020066889632106826,
            "188.0" :0.0033444816053513227,
            "109.0" :0.006688963210702423,
            "125.0" :0.023411371237457925,
            "131.0" :0.013377926421404625,
            "170.0" :0.016722408026755724,
            "113.0" :0.0033444816053513227,
            "99.0" :0.0033444816053513227,
            "177.0" :0.0033444816053513227,
            "141.0" :0.010033444816053524,
            "180.0" :0.006688963210702423,
            "111.0" :0.010033444816053524,
            "143.0" :0.023411371237457925,
            "182.0" :0.016722408026755724,
            "156.0" :0.020066889632106826,
            "115.0" :0.010033444816053524,
            "149.0" :0.006688963210702423,
            "145.0" :0.013377926421404625,
            "146.0" :0.013377926421404625,
            "175.0" :0.010033444816053524,
            "186.0" :0.006688963210702423,
            "185.0" :0.0033444816053513227,
            "159.0" :0.013377926421404625,
            "130.0" :0.013377926421404625,
            "190.0" :0.0033444816053513227,
            "136.0" :0.006688963210702423,
            "97.0" :0.0033444816053513227,
            "127.0" :0.0033444816053513227,
            "154.0" :0.013377926421404625,
            "133.0" :0.006688963210702423,
            "126.0" :0.013377926421404625,
            "202.0" :0.0033444816053513227,
            "103.0" :0.006688963210702423,
            "166.0" :0.010033444816053524,
            "164.0" :0.006688963210702423,
            "184.0" :0.0033444816053513227,
            "124.0" :0.0033444816053513227,
            "122.0" :0.013377926421404625,
            "96.0" :0.006688963210702423,
            "138.0" :0.010033444816053524,
            "88.0" :0.0033444816053513227,
            "105.0" :0.010033444816053524,
            "194.0" :0.0033444816053513227,
            "195.0" :0.0033444816053513227,
            "106.0" :0.0033444816053513227,
            "167.0" :0.0033444816053513227,
            "95.0" :0.0033444816053513227,
            "117.0" :0.0033444816053513227,
            "121.0" :0.0033444816053513227,
            "116.0" :0.006688963210702423,
            "71.0" :0.0033444816053513227,
            "118.0" :0.0033444816053513227,
            "181.0" :0.006688963210702423,
            "134.0" :0.0033444816053513227,
            "90.0" :0.0033444816053513227
        }
    ],
    "frozen" :false
},
       {
    "class" :"Distribution",
    "dtype" :"numpy.float64",
    "name" :"DiscreteDistribution",
    "parameters" :[
        {
            "2.3" :0.006622516556291555,
            "1.5" :0.016556291390728554,
            "2.6" :0.01986754966887422,
            "3.5" :0.0033112582781458883,
            "1.4" :0.043046357615893885,
            "0.8" :0.043046357615893885,
            "3.6" :0.013245033112582887,
            "0.6" :0.046357615894039556,
            "3.1" :0.0033112582781458883,
            "0.4" :0.02980132450331122,
            "1.3" :0.0033112582781458883,
            "0.0" :0.3278145695364212,
            "0.5" :0.016556291390728554,
            "1.6" :0.03311258278145689,
            "1.0" :0.046357615894039556,
            "1.2" :0.056291390728476554,
            "0.2" :0.03973509933774822,
            "1.8" :0.03311258278145689,
            "3.2" :0.006622516556291555,
            "2.4" :0.009933774834437224,
            "2.0" :0.02980132450331122,
            "2.5" :0.006622516556291555,
            "2.2" :0.013245033112582887,
            "2.8" :0.01986754966887422,
            "3.0" :0.016556291390728554,
            "3.4" :0.009933774834437224,
            "6.2" :0.0033112582781458883,
            "4.0" :0.009933774834437224,
            "5.6" :0.0033112582781458883,
            "2.9" :0.0033112582781458883,
            "0.1" :0.02317880794701989,
            "2.1" :0.0033112582781458883,
            "1.9" :0.016556291390728554,
            "4.2" :0.006622516556291555,
            "0.9" :0.009933774834437224,
            "1.1" :0.006622516556291555,
            "3.8" :0.0033112582781458883,
            "0.7" :0.0033112582781458883,
            "0.3" :0.009933774834437224,
            "4.4" :0.0033112582781458883
        }
    ],
    "frozen" :false
}], dtype=object)

time: 12.6 ms

In [0]:
y_pred1 = model1.predict(X_nan)

time: 1.3 s

In [0]:
#check error
import sklearn.metrics as metrics

mae = metrics.mean_absolute_error(X, np.array(y_pred1))
mse = metrics.mean_squared_error(X, np.array(y_pred1))
rmse = np.sqrt(mse) # or mse**(0.5)

print("Results of sklearn.metrics:")
print("MAE:",mae)
print("MSE:", mse)
print("RMSE:", rmse)

Results of sklearn.metrics:
MAE: 0.06772277227722771
MSE: 2.6162112211221125
RMSE: 1.6174706245005233
time: 7.25 ms

#Deterministic Regression

In [0]:
df2 = dataset[['Age', 'Trestbps', 'Chol', 'Thalach', 'Oldpeak']]
X2 = df2.values
df2

     Age  Trestbps  Chol  Thalach  Oldpeak
0     63       145   233      150      2.3
1     67       160   286      108      1.5
2     67       120   229      129      2.6
3     37       130   250      187      3.5
4     41       130   204      172      1.4
..   ...       ...   ...      ...      ...
298   45       110   264      132      1.2
299   68       144   193      141      3.4
300   57       130   131      115      1.2
301   57       130   236      174      0.0
302   38       138   175      173      0.0

[303 rows x 5 columns]

time: 21.6 ms

In [0]:
#membuat NaN values ke dataset
random.seed(0)
np.random.seed(0)
np.set_printoptions(suppress=True)

idxs = np.random.choice(303, replace=False, size=5)
j =  np.random.choice(range(2,5),5)
X_nan = X2.copy()
print(idxs)
print(j)
X_nan[idxs, j] = numpy.nan
df_nan = pd.DataFrame(X_nan, columns=['Age', 'Trestbps', 'Chol', 'Thalach', 'Oldpeak'])
df_nan

[225 152 228 201  52]
[3 4 3 3 3]

      Age  Trestbps   Chol  Thalach  Oldpeak
0    63.0     145.0  233.0    150.0      2.3
1    67.0     160.0  286.0    108.0      1.5
2    67.0     120.0  229.0    129.0      2.6
3    37.0     130.0  250.0    187.0      3.5
4    41.0     130.0  204.0    172.0      1.4
..    ...       ...    ...      ...      ...
298  45.0     110.0  264.0    132.0      1.2
299  68.0     144.0  193.0    141.0      3.4
300  57.0     130.0  131.0    115.0      1.2
301  57.0     130.0  236.0    174.0      0.0
302  38.0     138.0  175.0    173.0      0.0

[303 rows x 5 columns]

time: 26.9 ms

In [0]:
df_nan.isna().sum()

Age         0
Trestbps    0
Chol        0
Thalach     4
Oldpeak     1
dtype: int64

time: 5.74 ms

In [0]:
missing_columns = ['Thalach', 'Oldpeak']
deter_data = pd.DataFrame(columns = ["Det" + name for name in missing_columns])
from sklearn.linear_model import LinearRegression
for feature in missing_columns:
  # print(feature)
  deter_data["Det" + feature] = df_nan[feature]
  parameters = list(set(df_nan.columns) - set(missing_columns) - {feature})

  # #Create a Linear Regression model to estimate the missing data
  model = LinearRegression()
  model.fit(X = df2[parameters], y = df2[feature])

  #observe that I preserve the index of the missing data from the original dataframe
  deter_data.loc[df_nan[feature].isna(), "Det" + feature] = model.predict(df_nan[parameters])[df_nan[feature].isna()]

time: 53.9 ms

In [0]:
deter_data

     DetThalach  DetOldpeak
0         150.0         2.3
1         108.0         1.5
2         129.0         2.6
3         187.0         3.5
4         172.0         1.4
..          ...         ...
298       132.0         1.2
299       141.0         3.4
300       115.0         1.2
301       174.0         0.0
302       173.0         0.0

[303 rows x 2 columns]

time: 16.1 ms

In [0]:
non_missing_columns = ['Age', 'Trestbps', 'Chol', 'Thalach', 'Oldpeak']
data_non_nan = pd.DataFrame(columns = ["Det" + name for name in non_missing_columns])

for feature in non_missing_columns:
  data_non_nan["Det" + feature] = df2[feature]

for feature in missing_columns:
  data_non_nan["Det" + feature] = deter_data["Det" + feature]
data_non_nan

     DetAge  DetTrestbps  DetChol  DetThalach  DetOldpeak
0        63          145      233       150.0         2.3
1        67          160      286       108.0         1.5
2        67          120      229       129.0         2.6
3        37          130      250       187.0         3.5
4        41          130      204       172.0         1.4
..      ...          ...      ...         ...         ...
298      45          110      264       132.0         1.2
299      68          144      193       141.0         3.4
300      57          130      131       115.0         1.2
301      57          130      236       174.0         0.0
302      38          138      175       173.0         0.0

[303 rows x 5 columns]

time: 34.1 ms

In [0]:
#check error
import sklearn.metrics as metrics

mae = metrics.mean_absolute_error(X, np.array(data_non_nan))
mse = metrics.mean_squared_error(X, np.array(data_non_nan))
rmse = np.sqrt(mse) # or mse**(0.5)

print("Results of sklearn.metrics:")
print("MAE:",mae)
print("MSE:", mse)
print("RMSE:", rmse)

Results of sklearn.metrics:
MAE: 0.05119646234924711
MSE: 1.413132533551361
RMSE: 1.1887525114805693
time: 6.39 ms

#Summary

##Heart Disease

###KNN

####Results of sklearn.metrics:
####MAE: 0.05500990099009899
####MSE: 1.7407918151815174
####RMSE: 1.3193906984595265

###Bayesian Network

####Results of sklearn.metrics:
####MAE: 0.06772277227722771
####MSE: 2.6162112211221125
####RMSE: 1.6174706245005233

###Deterministic Regression

####Results of sklearn.metrics:
####MAE: 0.05119646234924711
####MSE: 1.413132533551361
####RMSE: 1.1887525114805693